/* Lucia Espinoza     Web 150 ASN6     Business name: Kamakura */

body {
  background-image: url(../images/sushi.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFF;
  min-width: 250px;

  font-family: 'open sans', sans-serif, helvetica, sans-serif;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Navigation */

nav {
  background-color: #000;
  position: sticky;
  top: 0px;
  padding: 10px 15px;
  font-size: 22px;
}

nav a {
  color: #FFF;
  padding: 22px;
  text-decoration: none;
  text-align: center;
  font-family: 'Economica', 'helvetica narrow', 'arial narrow';
}

nav a:hover {
  color:  #797c7a;
}

/* Header */
header {
  background-color: transparent;
  font-family: 'open sans', rockwell, cursive;
  text-align: center;
  color: #FFF;
  padding: 13.5% 0;
}

img {
  width: 50%;
  padding-bottom: 1%;
  margin-left: -35px;
}
/*restaurant info*/

section {
  background-color: #050505;
  text-align: center;
  padding: 2% 15%;
  color: #FFF;
}

section h1 {
  font-family: 'open sans', sans-serif;
  color: #a51e21;
}


main section div {
  font-family: 'open sans', sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 1%;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #a51e21;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #a51e21;
}

.container {
  border-radius: 5px;
  background-color: #2f2f2f;
  padding: 20px;
  color: #FFF;
}


/* footer */
footer {
  padding: 30px;
  text-align: center;
  font-family: Economica, 'helvetica narrow', 'arial narrow';
  font-size: 20px;
  color: #FFF;
  background:   #a51e21;
}


li {
  list-style:none;
  margin: 0px 0px;
  display: inline-block;
  font-size: 20px;
  padding: 19px 10px;
  color: #FFF;
  
}

div.icons {
  margin-left: -38px;
}

@media screen and (max-width: 700px) and (min-width: 520px) {
  
  .header {
    min-height: 200px;
  }
}
/* end @media */